.LinkContanier {
    text-decoration: none;
    color: black;
    width: 85%
}

.LessonContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    margin-bottom: 20px;
}

.LessonNumber {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.185);
    font-weight: 700;
    margin: 0px;
    width: 80px;
}

.LessonTitleContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 30px;
}

.LessonTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    margin-top: -5px;
}

.LessonTime{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 0px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.24);
}

.PlayButton {
    width: 40px;
    height: 40px;
}


@media only screen and (max-width: 500px) {
    .LinkContanier {
        width: 100%;
    }

    .LessonContainer {
        width: 100%;
        padding: 0px;
        justify-content: center;
        margin-bottom: 5px;
    }

    .LessonTitleContainer {
        padding-left: 5px;
        width: 75%;
    }

    .LessonTitle {
        font-size: 13px;
    }

    .LessonNumber {
        position: absolute;
    }

    .LessonTime {
        font-size: 10px;
    }

    .PlayButton {
        padding: 0px;
        margin: 0px;
    }
}

@media only screen and (max-width: 375px) {
    .LinkContanier {
        width: 100%;
    }

    .LessonContainer {
        width: 100%;
        padding: 0px;
        justify-content: center;
        margin-bottom: 5px;
        position: relative;
    }

    .LessonTitleContainer {
        padding-left: 5px;
        width: 75%;
    }

    .LessonTitle {
        font-size: 13px;
    }

    .LessonNumber {
       display: none;
    }

    .LessonTime {
        font-size: 10px;
    }

    .PlayButton {
        padding: 0px;
        margin: 0px;
    }
}
