.LessonContainer{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    margin-bottom: 20px;
    border: 1px solid red;
}

.LessonNumber {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.185);
    font-weight: 700;
    margin: 0px;
    width: 80px;
}

.LessonTitleContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-left: 30px;
}

.LessonTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin: 0px;
    margin-top: -5px;
}

.LessonTime{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.24);
}

.PlayButton {
    width: 40px;
    height: 40px;
}
