.SelectGradePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #E8EBF0;
    padding-bottom: 50px;
}

.Title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 72px;
}

.GradeTitle {
    display: inline-block;
    font-size: 72px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
}

.GradeListContainer {
    width: 40%;
}



@media only screen and (max-width: 1024px) {
    .GradeListContainer {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .GradeListContainer {
        width: 95%;
    }
}

@media only screen and (max-width: 500px) {
    .GradeListContainer {
        width: 95%;
    }

    .Title {
        font-weight: 500;
        font-size: 52px;
        margin: 5px;
        line-height: 60px;
        padding-bottom: 15px;
        padding-left: 30px;
        text-align: left;
        width: 100%;
        padding-top: 20px;        
    }
}
