.Module {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.116);
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.showModule {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.116);
    margin-bottom: 15px;
}

.SectionTitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    padding-left: 40px;
    padding-right: 40px;
}

.SectionTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.HideModuleContent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    align-content: flex-start;
    transition: all 0.2s ease;
}

.ShowModuleContent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: 900px;
    overflow: hidden;
    align-content: flex-start;
    transition: all 0.5s ease;
}


.ShowContentButtonContanier {
    display: flex;
    align-items: center;
    height: 100%;
}

.ShowContentButton {
    outline: none;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.ArrowDown {
    width: 30px;
    height: 30px;
    transition: all 0.5s ease;
}

.ArrowUp {
    transition: all 0.5s ease;
    width: 30px;
    height: 30px;
    transform: rotate(180deg)
}

.ShowContentText {
    padding-left: 3px;
    font-size: 16px;
    color: #812A39;
    font-weight: 600;
}


.Section:hover, button:hover, .SectionTitleContainer:hover {
    cursor: pointer;
}


@media only screen and (max-width: 500px) {

    .Module {
        width: 97%;
        margin-bottom: 10px;
    }

    .showModule {
        width: 97%;
    }

    .ShowContentText {
        display: none;
    }

    .SectionTitleContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

   
}
