.GradeTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100%;


    position: relative;
    overflow: hidden;
}

.Grade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.116);
    margin-bottom: 15px;

    position: relative;
    overflow: hidden;
}

.GradeTitle {
    width: 80%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.250);
    margin-bottom: 10px;
    border-radius: 5px;
}

.Subjects {
    width: 60%;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.250);
    border-radius: 5px;
}


@media only screen and (max-width: 500px) {
    .GradeTitle {
        font-size: 50px;
        padding-left: 20px;
    }

    .Grade {
        height: 125px;
        margin-bottom: 10px;
        overflow: hidden;
    }
}